.App {
   display: flex;
   justify-content: center;
   padding: 10px;
   height: 100vh;
   background-color: #D0D7E2;

  .container {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
 }
}
